---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/121/similar?api_key=<DONT_EXPOSE_MY_DATA>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b2710a08226441a35ab1b3637b756cd277bac6ab
      X-Memc-Age:
      - '18299'
      X-Memc-Expires:
      - '3301'
      Etag:
      - W/"71b2079ae98e7b6c0ad0cef1bef42d27"
      Last-Modified:
      - Wed, 09 Dec 2020 03:34:39 GMT
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"id":120,"vote_average":8.3,"overview":"Young
        hobbit Frodo Baggins, after inheriting a mysterious ring from his uncle Bilbo,
        must leave his home in order to keep it from falling into the hands of its
        evil creator. Along the way, a fellowship is formed to protect the ringbearer
        and make sure that the ring arrives at its final destination: Mt. Doom, the
        only place where it can be destroyed.","release_date":"2001-12-18","title":"The
        Lord of the Rings: The Fellowship of the Ring","adult":false,"backdrop_path":"/vRQnzOn4HjIMX4LBq9nHhFXbsSu.jpg","vote_count":18122,"genre_ids":[12,14,28],"video":false,"original_language":"en","original_title":"The
        Lord of the Rings: The Fellowship of the Ring","poster_path":"/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg","popularity":139.226},{"id":122,"vote_average":8.5,"overview":"Aragorn
        is revealed as the heir to the ancient kings as he, Gandalf and the other
        members of the broken fellowship struggle to save Gondor from Sauron''s forces.
        Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the
        dark lord''s realm.","release_date":"2003-12-01","title":"The Lord of the
        Rings: The Return of the King","adult":false,"backdrop_path":"/9DeGfFIqjph5CBFVQrD6wv9S7rR.jpg","vote_count":16677,"genre_ids":[12,14,28],"video":false,"original_language":"en","original_title":"The
        Lord of the Rings: The Return of the King","poster_path":"/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg","popularity":79.693},{"adult":false,"backdrop_path":"/vY3JxJp260Ypwebk4bS22OjrXHN.jpg","genre_ids":[28,12,53],"id":49021,"original_language":"en","original_title":"Killer
        Elite","overview":"Based on [...]
