<h1>Search results for "<%= @query %>"</h1>
<table class='results'>
<tr>
  <td>Title</td>
  <td>Rating</td>
</tr>
  <% @movies.each do |movie| %>
    <tr id='api-id-<%= movie.id %>' class='movie-block'>
      <td><%= link_to movie.title, "/movies/#{movie.id}" %></td>
      <td><%= movie.vote_average %></td>
    </tr>
  <% end %>
</table>
