---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/400160?api_key=<DONT_EXPOSE_MY_DATA>&append_to_response=reviews,credits,similar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6fff8828783d3e8de7c4596339a2e33f9fb0d760
      X-Memc-Age:
      - '20357'
      X-Memc-Expires:
      - '1243'
      Etag:
      - W/"c170fbbde2887a69662ff6bf7c939d3e"
      Last-Modified:
      - Thu, 10 Dec 2020 04:40:46 GMT
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/wu1uilmhM4TdluKi2ytfz8gidHf.jpg","belongs_to_collection":{"id":275402,"name":"SpongeBob
        Collection","poster_path":"/bsCBgNIeqwUh0rWrEjojH7Xbqto.jpg","backdrop_path":"/uDbMvHRX0LMUxmsMyOOrPeLYHO5.jpg"},"budget":60000000,"genres":[{"id":16,"name":"Animation"},{"id":14,"name":"Fantasy"},{"id":12,"name":"Adventure"},{"id":35,"name":"Comedy"},{"id":10751,"name":"Family"}],"homepage":"https://www.spongebobmovie.com/","id":400160,"imdb_id":"tt4823776","original_language":"en","original_title":"The
        SpongeBob Movie: Sponge on the Run","overview":"When his best friend Gary
        is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far
        beyond Bikini Bottom to save their pink-shelled pal.","popularity":561.452,"poster_path":"/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg","production_companies":[{"id":8921,"logo_path":null,"name":"United
        Plankton Pictures","origin_country":"US"},{"id":2348,"logo_path":"/m31fQvZJuUvAgxoqTiCGYFBfZYe.png","name":"Nickelodeon
        Movies","origin_country":"US"},{"id":24955,"logo_path":"/bX3cYCRWdddXTgIcDEfNiVa8U4j.png","name":"Paramount
        Animation","origin_country":"US"},{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"},{"id":2531,"logo_path":"/pC2iDCDCvV85vOBP7a5Ukxuc0Du.png","name":"MRC","origin_country":"US"},{"id":8649,"logo_path":null,"name":"Mikros
        Image","origin_country":"FR"}],"production_countries":[{"iso_3166_1":"KR","name":"South
        Korea"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2020-08-14","revenue":4700000,"runtime":95,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"They''re
        Not in Bikini Bottom Anymore.","title":"The SpongeBob Movie: Sponge on the
        Run","video":false,"vote_average":8.0,"vote_count":1687,"reviews":{"page":1,"results":[{"author":"SWITCH.","author_details":{"name":"SWITCH.","username":"maketheSWITCH","avatar_path":"/klZ9hebmc8biG1RC4WmzNFnciJN.jpg","rating":6.0},"content":"Thanks
        to its meme resurgence, a surprisingly successful musical, three spinoff shows
        in the works and the thirteenth season currently airing, there is no slowing
        down Bikini Bottom''s finest. As a fan, it was nice to spend some time with
        these characters who I haven''t seen in a while - but the original movie and
        first few seasons are still superior in every way.\r\n- Chris dos Santos\r\n\r\nRead
        Chris'' full article...\r\nhttps://www.maketheswitch.com.au/article/review-the-spongebob-movie-sponge-on-the-run-ravioli-ravioli-spongebobs-third-feature-is-okie-dokie","created_at":"2020-11-07T06:23:33.726Z","id":"5fa63d658c7b0f003f785d60","updated_at":"2020-11-10T17:11:45.490Z","url":"https://www.themoviedb.org/review/5fa63d658c7b0f003f785d60"}],"total_pages":1,"total_results":1},"credits":{"cast":[{"adult":false,"gender":2,"id":78798,"known_for_department":"Acting","name":"Tom
        Kenny","original_name":"Tom Kenny","popularity":2.821,"profile_path":"/o6sC2IsjL7KncT4pZBOx4T0WKhM.jpg","cast_id":8,"character":"SpongeBob
        SquarePants / Gary the Snail (voice)","credit_id":"58459f2692514169d9018de1","order":0},{"adult":false,"gender":2,"id":34398,"known_for_department":"Acting","name":"Bill
        Fagerbakke","original_name":"Bill Fagerbakke","popularity":3.031,"profile_path":"/sx3LkX82tpdQfGi3ie3cFvrgCYg.jpg","cast_id":9,"character":"Patrick
        Star (voice)","credit_id":"58459f39c3a3684664018b8a","order":1},{"adult":false,"gender":2,"id":70615,"known_for_department":"Acting","name":"Rodger
        Bumpass","original_name":"Rodger Bumpass","popularity":3.108,"profile_path":"/9TEh5QJAHnXuM3fE1[...]
[...]
