---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_EXPOSE_MY_DATA>&page=1&query=the
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/zKv7KF0pH9ASv2uGgTvTylMlxQn.jpg","genre_ids":[37],"id":729648,"original_language":"en","original_title":"The
        Dalton Gang","overview":"When their brother Frank is killed by an outlaw,
        brothers Bob Dalton, Emmett Dalton and Gray Dalton join their local sheriff''s
        department. When they are cheated by the law, they turn to crime, robbing
        trains and anything else they can steal from over the course of two years
        in the early 1890''s. Trying to out do Jesse James, they attempt to rob two
        banks at once in October of 1892, and things get ugly","popularity":1441.44,"poster_path":"/6OeGqp18oZucUGziMIRNhLouZ75.jpg","release_date":"2020-11-02","title":"The
        Dalton Gang","video":false,"vote_average":4.3,"vote_count":13},{"adult":false,"backdrop_path":"/aSdp2uS0jWkqdhCeyhJuCoiLZji.jpg","genre_ids":[28,80,53],"id":603119,"original_language":"en","original_title":"The
        Silencing","overview":"A reformed hunter becomes involved in a deadly game
        of cat and mouse when he and the local sheriff set out to track a vicious
        killer who may have kidnapped his daughter years ago.","popularity":461.901,"poster_path":"/dnN1ncxEOO1TY0gYL2FWxJqlhlL.jpg","release_date":"2020-07-18","title":"The
        S[...]
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/400160?api_key=<DONT_EXPOSE_MY_DATA>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6fff8828783d3e8de7c4596339a2e33f9fb0d760
      X-Memc-Age:
      - '20165'
      X-Memc-Expires:
      - '1435'
      Etag:
      - W/"70fa13cd604ea63ee85081663e65ec0e"
      Last-Modified:
      - Mon, 07 Dec 2020 22:31:51 GMT
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/wu1uilmhM4TdluKi2ytfz8gidHf.jpg","belongs_to_collection":{"id":275402,"name":"SpongeBob
        Collection","poster_path":"/bsCBgNIeqwUh0rWrEjojH7Xbqto.jpg","backdrop_path":"/uDbMvHRX0LMUxmsMyOOrPeLYHO5.jpg"},"budget":60000000,"genres":[{"id":16,"name":"Animation"},{"id":14,"name":"Fantasy"},{"id":12,"name":"Adventure"},{"id":35,"name":"Comedy"},{"id":10751,"name":"Family"}],"homepage":"https://www.spongebobmovie.com/","id":400160,"imdb_id":"tt4823776","original_language":"en","original_title":"The
        SpongeBob Movie: Sponge on the Run","overview":"When his best friend Gary
        is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far
        beyond Bikini Bottom to save their pink-shelled pal.","popularity":716.962,"poster_path":"/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg","production_companies":[{"id":8921,"logo_path":null,"name":"United
        Plankton Pictures","origin_country":"US"},{"id":2348,"logo_path":"/m31fQvZJuUvAgxoqTiCGYFBfZYe.png","name":"Nickelodeon
        Movies","origin_country":"US"},{"id":24955,"logo_path":"/bX3cYCRWdddXTgIcDEfNiVa8U4j.png","name":"Paramount
        Animation","origin_country":"US"},{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"},{"id":2531,"logo_path":"/pC2iDCDCvV85vOBP7a5Ukxuc0Du.png","name":"MRC","origin_country":"US"},{"id":8649,"logo_path":null,"name":"Mikros
        Image","origin_country":"FR"}],"production_countries":[{"iso_3166_1":"KR","name":"South
        Korea"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2020-08-14","revenue":4700000,"runtime":95,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"They''re
        Not in Bikini Bottom Anymore.","title":"The SpongeBob Movie: Sponge on the
        Run","video":false,"vote_average":8.0,"vote_count":1673}'
  recorded_at: Mon, 07 Dec 2020 22:31:51 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/400160/reviews?api_key=<DONT_EXPOSE_MY_DATA>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 134da500b7e1c91bd1c971a6566e639d059af9a9
      X-Memc-Age:
      - '5344'
      X-Memc-Expires:
      - '16256'
      Etag:
      - W/"5530321fc36409f62992c31d680ce313"
      Last-Modified:
      - Mon, 07 Dec 2020 22:31:51 GMT
    body:
      encoding: UTF-8
      string: '{"id":400160,"page":1,"results":[{"author":"SWITCH.","author_details":{"name":"SWITCH.","username":"maketheSWITCH","avatar_path":"/klZ9hebmc8biG1RC4WmzNFnciJN.jpg","rating":6.0},"content":"Thanks
        to its meme resurgence, a surprisingly successful musical, three spinoff shows
        in the works and the thirteenth season currently airing, there is no slowing
        down Bikini Bottom''s finest. As a fan, it was nice to spend some time with
        these characters who I haven''t seen in a while - but the original movie and
        first few seasons are still superior in every way.\r\n- Chris dos Santos\r\n\r\nRead
        Chris'' full article...\r\nhttps://www.maketheswitch.com.au/article/review-the-spongebob-movie-sponge-on-the-run-ravioli-ravioli-spongebobs-third-feature-is-okie-dokie","created_at":"2020-11-07T06:23:33.726Z","id":"5fa63d658c7b0f003f785d60","updated_at":"2020-11-10T17:11:45.490Z","url":"https://www.themoviedb.org/review/5fa63d658c7b0f003f785d60"}],"total_pages":1,"total_results":1}'
  recorded_at: Mon, 07 Dec 2020 22:31:52 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/400160/credits?api_key=<DONT_EXPOSE_MY_DATA>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 752217269d334136984c3de547e78f48fdc063ca
      X-Memc-Age:
      - '13599'
      X-Memc-Expires:
      - '8001'
      Last-Modified:
      - Mon, 07 Dec 2020 15:00:56 GMT
      Etag:
      - W/"0b2bbfb63c703849db3ad5da0def4cc3"
    body:
      encoding: UTF-8
      string: '{"id":400160,"cast":[{"adult":false,"gender":2,"id":78798,"known_for_department":"Acting","name":"Tom
        Kenny","original_name":"Tom Kenny","popularity":4.564,"profile_path":"/o6sC2IsjL7KncT4pZBOx4T0WKhM.jpg","cast_id":8,"character":"SpongeBob
        SquarePants / Gary the Snail (voice)","credit_id":"58459f2692514169d9018de1","order":0},{"adult":false,"gender":2,"id":34398,"known_for_department":"Acting","name":"Bill
        Fagerbakke","original_name":"Bill Fagerbakke","popularity":3.461,"profile_path":"/sx3LkX82tpdQfGi3ie3cFvrgCYg.jpg","cast_id":9,"character":"Patrick
        Star (voice)","credit_id":"58459f39c3a3684664018b8a","order":1},{"adult":false,"gender":2,"id":70615,"known_for_department":"Acting","name":"Rodger
        Bumpass","original_name":"Rodger Bumpass","popularity":4.749,"profile_path":"/9TEh5QJAHnXuM3fE1[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/400160/similar?api_key=<DONT_EXPOSE_MY_DATA>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 41bb37af905749480f0faabb9d50ce20479bd4db
      X-Memc-Age:
      - '2768'
      X-Memc-Expires:
      - '18832'
      Etag:
      - W/"b7[...]
