---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_EXPOSE_MY_DATA>&page=1&query=harry%20potter%20and%20the
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/hziiv14OpD73u9gAak4XDDfBKa2.jpg","genre_ids":[12,14],"id":671,"original_language":"en","original_title":"Harry
        Potter and the Philosopher''s Stone","overview":"Harry Potter has lived under
        the stairs at his aunt and uncle''s house his whole life. But on his 11th
        birthday, he learns he''s a powerful wizard -- with a place waiting for him
        at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness
        his newfound powers with the help of the school''s kindly headmaster, Harry
        uncovers the truth about his parents'' deaths -- and about the villain who''s
        to blame.","popularity":126.093,"poster_path":"/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg","release_date":"2001-11-16","title":"Harry
        Potter and the Philosopher''s Stone","video":false,"vote_average":7.9,"vote_count":18919},{"adult":false,"backdrop_path":"/kT8bDEAgEYBKhRJtqM97qTw6uRW.jpg","genre_ids":[12,14],"id":767,"original_language":"en","original_title":"Harry
        Potter and the Half-Blood Prince","overview":"As Harry begins his sixth year
        at Hogwarts, he discovers an old book marked as ''Property of the Half-Blood
        Prince'', and begins to learn more about Lord Voldemort''s dark past.","popularity":87.077,"poster_path":"/Ag21otqbeynZPGjEbzyr3X5Us0j.jpg","release_date":"2009-07-07","ti[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_EXPOSE_MY_DATA>&page=2&query=harry%20potter%20and%20the
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 7ed122732b5319aa37c7e033d4feafcf
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":1,"total_results":13}'
  recorded_at: Tue, 08 Dec 2020 04:31:02 GMT
recorded_with: VCR 6.0.0
