---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_EXPOSE_MY_DATA>&page=1&query=adhfaosdjfaodihf%3Baldohfasdihfoidhfdj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - a8d277d2d95f2ea20f792a48c43093dc
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 03 Dec 2020 22:50:30 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_EXPOSE_MY_DATA>&page=2&query=adhfaosdjfaodihf%3Baldohfasdihfoidhfdj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - daeb628883c68203dc276731d4722f32
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 03 Dec 2020 22:50:30 GMT
recorded_with: VCR 6.0.0
