---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_EXPOSE_MY_DATA>&page=1&query=the
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/vRQnzOn4HjIMX4LBq9nHhFXbsSu.jpg","genre_ids":[12,14,28],"id":120,"original_language":"en","original_title":"The
        Lord of the Rings: The Fellowship of the Ring","overview":"Young hobbit Frodo
        Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave
        his home in order to keep it from falling into the hands of its evil creator.
        Along the way, a fellowship is formed to protect the ringbearer and make sure
        that the ring arrives at its final destination: Mt. Doom, the only place where
        it can be destroyed.","popularity":282.679,"poster_path":"/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg","release_date":"2001-12-18","title":"The
        Lord of the Rings: The Fellowship of the Ring","video":false,"vote_average":8.3,"vote_count":18091},{"adult":false,"backdrop_path":"/wu1uilmhM4TdluKi2ytfz8gidHf.jpg","genre_ids":[16,14,12,35,10751],"id":400160,"original_language":"en","original_title":"The
        SpongeBob Movie: Sponge on the Run","overview":"When his best friend Gary
        is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far
        beyond Bikini Bottom to save their pink-shelled pal.","popularity":672.234,"poster_path":"/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg","release_date":"2020-08-14","title":"Th[...]
[...]
