---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/343611/reviews?api_key=<DONT_EXPOSE_MY_DATA>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 012fe072a97da3b0e90fc2aec4593c3ba3f67bd2
      X-Memc-Age:
      - '6722'
      X-Memc-Expires:
      - '14878'
      Etag:
      - W/"44cc4ca44b553079aa8e6d1e9c4efa8f"
      Last-Modified:
      - Mon, 07 Dec 2020 15:03:38 GMT
    body:
      encoding: UTF-8
      string: '{"id":343611,"page":1,"results":[{"author":"TopKek","author_details":{"name":"TopKek","username":"topkek327","avatar_path":"/cNDCv5yGLucVYgpwWXOWEIE3KaH.jpg","rating":null},"content":"I
        was a supporter of the first Jack Reacher film, having never developed a literary
        attachment to the eponymous hero and thus being perfectly happy to see him
        misinterpreted (apparently) by the diminutive Tom Cruise.\r\n\r\nBut this
        sequel, adapted from another of Lee Child''s bestselling books, has the misfortune
        to bear a title which may provide its epitaph.\r\n\r\nReacher does come back,
        on a similar mission to last time: that is, to clear someone''s name and run
        around (he does a lot of running) dodging those who would rather see him hand-cuffed
        and out of their ill-intentioned way.","created_at":"2016-10-25T06:47:41.839Z","id":"580f000d9251416c7d006717","updated_at":"2016-10-25T14:07:06.447Z","url":"https://www.themoviedb.org/review/580f000d9251416c7d006717"},{"author":"Reno","author_details":{"name":"Reno","username":"Rangan","avatar_path":"/6ZpVUJzqXMzH35VprEtnX0sNI3.jpg","rating":7.0},"content":"**...but
        he did go back and got into a trouble!**\r\n\r\nThe original source is a long
        book series, so they did not do it in order. Like the first film, which was
        based on the ninth book, this one was on the eighteenth. It was a stylishly
        made film. The actors wer[...]
