---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/343611/similar?api_key=<DONT_EXPOSE_MY_DATA>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 98d0f7e539c8a8f5d64b0b2e13d3fe13d887b16c
      X-Memc-Age:
      - '20832'
      X-Memc-Expires:
      - '768'
      Etag:
      - W/"6b38cde5f72440f210bdc64457c3887c"
      Last-Modified:
      - Mon, 07 Dec 2020 22:06:19 GMT
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/jArl1j9sL2mYjRW23EaZKWAr2E8.jpg","genre_ids":[18,36,53],"id":399121,"original_language":"fr","original_title":"J’accuse","overview":"In
        1894, French Captain Alfred Dreyfus is wrongfully convicted of treason and
        sentenced to life imprisonment at Devil''s Island.","poster_path":"/911kntXCM3WiHYcQDIJ4wZZ9CJx.jpg","release_date":"2019-09-30","title":"An
        Officer and a Spy","video":false,"vote_average":7.1,"vote_count":844,"popularity":20.318},{"adult":false,"backdrop_path":"/mbJIERhLu25fyZb8DQIq1JN3AOR.jpg","genre_ids":[18,80],"id":595,"original_language":"en","original_title":"To
        Kill a Mockingbird","overview":"Scout Finch, 6, and her older brother Jem
        live in sleepy Maycomb, Alabama, spending much of their time with their friend
        Dill and spying on their reclusive and mysterious neighbor, Boo Radley. When
        Atticus, their widowed father and a respected lawyer, defends a black man
        named T[...]
