<h1>Welcome <%= @user.user_name %>!</h1>

<section class='discover'>
<center><%= button_to 'Discover Movies', '/discover', method: :get %></center>
</section>

<section class='friends'>
</section>

<section class='parties'>
</section>