
<section class='discover'>
<center><%= button_to 'Discover Movies', '/discover', method: :get %></center>
</section>

<section class='friends'>
<h2>Friends</h2>
</section>

<section class='parties'>
<h2>Viewing Parties</h2>
</section>
