<h1>Welcome To The Viewing Party!</h1>

<h3>This app allows you to explore a library of movies and then create a viewing party event where you can invite all your friends to watch a movie together!</h3>

