---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/121?api_key=<DONT_EXPOSE_MY_DATA>&append_to_response=reviews,credits,similar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - dcc5c901c2a05f06c5bc1ffa95a89fd2556c667a
      X-Memc-Age:
      - '5598'
      X-Memc-Expires:
      - '16002'
      Etag:
      - W/"008fdf7852c4c0f841a8cd976a0467d7"
      Last-Modified:
      - Wed, 09 Dec 2020 14:01:46 GMT
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/7tNTPZMb13W0AhkcuoL6myRrNRr.jpg","belongs_to_collection":{"id":119,"name":"The
        Lord of the Rings Collection","poster_path":"/p4UokEk2XnjjRTdXGe6DLYXlbI1.jpg","backdrop_path":"/bccR2CGTWVVSZAG0yqmy3DIvhTX.jpg"},"budget":79000000,"genres":[{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"},{"id":28,"name":"Action"}],"homepage":"http://www.lordoftherings.net/","id":121,"imdb_id":"tt0167261","original_language":"en","original_title":"The
        Lord of the Rings: The Two Towers","overview":"Frodo and Sam are trekking
        to Mordor to destroy the One Ring of Power while Gimli, Legolas and Aragorn
        search for the orc-captured Merry and Pippin. All along, nefarious wizard
        Saruman awaits the Fellowship members at the Orthanc Tower in Isengard.","popularity":72.965,"poster_path":"/5VTN0pR8gcqV3EPUHHfMGnJYN9L.jpg","production_companies":[{"id":12,"logo_path":"/iaYpEp3LQmb8AfAtmTvpqd4149c.png","name":"New
        Line Cinema","origin_country":"US"},{"id":11,"logo_path":"/6FAuASQHybRkZUk08p9PzSs9ezM.png","name":"WingNut
        Films","origin_country":"NZ"},{"id":5237,"logo_path":null,"name":"The Saul
        Zaentz Company","origin_country":"US"}],"production_countries":[{"iso_3166_1":"NZ","name":"New
        Zealand"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2002-12-18","revenue":926287400,"runtime":179,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        New Power Is Rising.","title":"The Lord of the Rings: The Two Towers","video":false,"vote_average":8.3,"vote_count":15656,"reviews":{"page":1,"results":[{"author":"NeoBrowser","author_details":{"name":"","username":"NeoBrowser","avatar_path":null,"rating":10.0},"content":"Peter
        Jackson has always maintained that The Two Towers is \"the second act\" of
        his epic undertaking, and perhaps the true greatness of the middle chapter
        will only be clear when viewed in context. As a stand-alone film, however,
        The Two Towers is not quite as good as Fellowship. (Nor, indeed, does it extend
        the universe or deepen the relationships in the manner of The Empire Strikes
        Back.) That it still merits the full five stars is merely an in[...]
