---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_EXPOSE_MY_DATA>&page=1&query=the%20lord%20of%20the%20rings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/7tNTPZMb13W0AhkcuoL6myRrNRr.jpg","genre_ids":[12,14,28],"id":121,"original_language":"en","original_title":"The
        Lord of the Rings: The Two Towers","overview":"Frodo and Sam are trekking
        to Mordor to destroy the One Ring of Power while Gimli, Legolas and Aragorn
        search for the orc-captured Merry and Pippin. All along, nefarious wizard
        Saruman awaits the Fellowship members at the Orthanc Tower in Isengard.","popularity":78.096,"poster_path":"/5VTN0pR8gcqV3EPUHHfMGnJYN9L.jpg","release_date":"2002-12-18","title":"The
        Lord of the Rings: The Two Towers","video":false,"vote_average":8.3,"vote_count":15652},{"adult":false,"backdrop_path":"/vRQnzOn4HjIMX4LBq9nHhFXbsSu.jpg","genre_ids":[12,14,28],"id":120,"original_language":"en","original_title":"The
        Lord of the Rings: The Fellowship of the Ring","overview":"Young hobbit Frodo
        Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave
        his home in order to keep it from falling into the hands of its evil creator.
        Along the way, a fellowship is formed to protect the ringbearer and make sure
     [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_EXPOSE_MY_DATA>&page=2&query=the%20lord%20of%20the%20rings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 7d08b8b3bfa4ee53486bd9ed9a954b48
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":1,"total_results":11}'
  recorded_at: Tue, 08 Dec 2020 03:10:02 GMT
recorded_with: VCR 6.0.0
